.story-area {
    position: relative;
    background: #fff;
} 
.bg-seller{ 
    background: url('../../../images/sellers-1-1600x1600.jpg')  no-repeat; 
    background-size: cover; position: relative; z-index: 1; 
}
