.bg-seller{ 
    background: url('../../../images/sellers-1-1600x1600.jpg')  no-repeat; 
    background-size: cover; 
    position: relative; 
    z-index: 1; 

    &:after{ 
        content: ""; 
        position: absolute; 
        top: 0; 
        left: 0; 
        right: 0; 
        bottom: 0; 
        z-index: -1; 
        background: rgba(0,0,0,.85); 
    }    
}


.story-area {
    position: relative;
    background: #fff;

    .heading {
        position: relative;
        text-align: center;
        margin-bottom: 70px;
        &-img {
            height: auto;
            width: 40px;
            margin-bottom: 20px;
        }

        .best-sellers {
            font-size: 52px;
        }
        @media only screen and (max-width: 992px) {
            margin-bottom: 60px;
        }
        @media only screen and (max-width:767px) {
            margin-bottom: 50px;
        }
        @media only screen and (max-width: 576px) {
            margin-bottom: 40px;
        }
    }
}
