@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.triangle-up:after {
    content: '';
    height: 10px;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    background: url('../../images/triangle_bg.png') repeat-x;
    background-size: 26px 10px;
}

@media only screen and (max-width: 992px) {
    .story-bg { width: 200px;  }
    section { padding: 70px 0 40px;  }    
}
@media only screen and (max-width:767px) {
    .story-bg { width: 200px;  }
    section { padding: 60px 0 30px;  }    
}

.beauty-title {
    font-family: 'Pacifico', cursive;
}
