.main-slider{ 
    position: relative; 
    z-index: 1;
    
    &:after{
        content: ''; 
        position: absolute; 
        top: 0; 
        left: 0; 
        right: 0; 
        bottom: 0; 
        z-index: -1; 
        background: rgba(0,0,0,.4); 
    }

    .menu {
        font-size: 48px;
    }
}
.bg-5 {  
    background: url('../../../images/slider_3_1920_600.jpg') no-repeat center;  
    background-size: cover; 
}
