.goUp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1001;
    width: 60px;
    cursor: pointer;
    transition: .2s;
    animation: move 1s linear infinite;

}

@keyframes move {
    0% {
        bottom: 20px;
    }
    50% {
        bottom: 25px;
    }
    100% {
        bottom: 20px;
    }
}

.loader {
    width: 35px;
    height: 35px;
    margin-top: 4px;
    border: 5px solid #fff;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
.loader-black {
    width: 35px;
    height: 35px;
    margin-top: 4px;
    border: 5px solid black;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loader-small {
    width: 15px;
    height: 15px;
    margin-top: 4px;
    border: 2px solid black;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
